# Ignore bundler config
/.bundle

# Ignore SQLite databases everywhere in the project tree
*.sqlite3
*.sqlite3-journal
*.sqlite3-shm
*.sqlite3-wal
/db/*.sqlite3
/db/*.sqlite3-journal
/db/*.sqlite3-shm
/db/*.sqlite3-wal

# Ignore logs and temp files
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore storage
/storage/*
!/storage/.keep
/tmp/storage/*
!/tmp/storage/.keep

# Ignore master key
/config/master.key
